a:hover {
    text-decoration: none;
}

footer a {
    color: inherit
}

.mostVisited-link span:first-child {
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 350px;
}

.footer_block {
    width: 20%;
    min-width: fit-content;
    margin-top: 50px;
}

.mostVisited_list {
    list-style-type: none;
}

.weather_content {
    display: flex;
    justify-content: space-between;
}

.weather_now {
    font-size: 2rem;
    font-weight: bold;
}

.weather_forecast {
    display: flex;
    flex-direction: column;
}
.weather_icon {
    width: 50px;
}

.footer_tvGuide p{
    margin: 10px 0;
}
.footer_tvGuide span,
.footer_onAir span{
    color: gray;
}

.onAir_item {
    display: flex;
}

.onAir_item p {
    margin: 10px 0
}
.onAir_img {
    width: 20px;
    object-fit: contain;
}