.news-item {
    position: relative;
    list-style-type: none;
    margin-top: 10px;
}

.news-item_link {
    text-decoration: none;
    color: inherit;
}

.news-item_link:hover {
    text-decoration: none;
}
.news-item_logo {
    position: absolute;
    left: -25px;
    width: 20px;
}

